# API Keys
GOOGLE_API_KEY=
OPENAI_API_KEY=

# Configurações de Embedding
EMBEDDING_MODEL="open_ai"  # Opções: "open_ai" ou "google"
GOOGLE_EMBEDDING_MODEL='models/embedding-001'
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'

# Configurações de Banco de Dados
PGVECTOR_URL=postgresql://user:password@localhost:5434/dbname
PG_VECTOR_COLLECTION_NAME=documents

# Configurações de Processamento
PDF_PATH="./document.pdf"
CHUNK_SIZE=1000
CHUNK_OVERLAP=100