# Conexao PostgreSQL/pgvector
DATABASE_URL=

# Nome da colecao vetorial
PG_VECTOR_COLLECTION_NAME=

# Caminho do PDF para ingestao
PDF_PATH=

# Credenciais/modelo Google
GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL=