GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL=gemini-embedding-001

PDF_PATH=document.pdf
PGVECTOR_URL=postgresql+psycopg2://postgres:postgres@host.docker.internal:5432/rag
PGVECTOR_COLLECTION=document_collection
